* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

/* 

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.flex-hijo {
    width: 150px;
    height: 150px;
    margin: 10px;
    background: pink;
    border: 2px solid #000;
}

.hijo5,
.hijo4 {
    flex-grow: 1;
}

.hijo2 {
    flex-grow: 2;
} */